mat-form-field {
  width: 100%;
}

.sides {
  display: flex;
  justify-content: space-between;
  align-items: center;

  mat-icon {
    cursor: pointer;
    color: red;
  }

  .right {
    button {
      margin-inline: 5px;
    }
  }

  .hidden {
    visibility: hidden;
  }
}
